<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ItemEffectCreator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <v-container>
            <v-layout align-space-between justify-space-around row wrap fill-height>
                <v-flex xs5>
                    <v-card>
                        <v-container>
                            <v-checkbox
                                    v-model="normal_use"
                                    :label="`通常使用時効果`"
                            ></v-checkbox>
                            <v-layout v-if="normal_use" align-center justify-center row wrap>
                                <v-flex xs12 sm6 md3>
                                    <v-text-field
                                            label="Box"
                                            box
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-flex>
                <v-flex xs5>
                    <v-card>
                        <v-container>
                            <v-checkbox
                                    v-model="walk_field"
                                    :label="`フィールド移動時効果`"
                            ></v-checkbox>
                            <v-layout v-if="walk_field" align-center justify-center row wrap>
                                <v-flex xs12 sm6 md3>
                                    <v-text-field
                                            label="Box"
                                            box
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
        <v-container>
            <v-layout align-space-between justify-space-around row wrap fill-height>
                <v-flex xs5>
                    <v-card>
                        <v-container>
                            <v-checkbox
                                    v-model="every_turn"
                                    :label="`毎ターン効果`"
                            ></v-checkbox>
                            <v-layout v-if="every_turn" align-center justify-center row wrap>
                                <v-flex xs12 sm6 md3>
                                    <v-text-field
                                            label="Box"
                                            box
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-flex>
                <v-flex xs5>
                    <v-card>
                        <v-container>
                            <v-checkbox
                                    v-model="in_attack"
                                    :label="`攻撃時効果`"
                            ></v-checkbox>
                            <v-layout v-if="in_attack" align-center justify-center row wrap>
                                <v-flex xs12 sm6 md3>
                                    <v-text-field
                                            label="Box"
                                            box
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
        <v-container>
            <v-layout align-space-between justify-space-around row wrap fill-height>
                <v-flex xs5>
                    <v-card>
                        <v-container>
                            <v-checkbox
                                    v-model="in_be_attacked"
                                    :label="`被攻撃時効果`"
                            ></v-checkbox>
                            <v-layout v-if="in_be_attacked" align-center justify-center row wrap>
                                <v-flex xs12 sm6 md3>
                                    <v-text-field
                                            label="Box"
                                            box
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-flex>
                <v-flex xs5>
                    <div>
                        <v-btn color="success">Generate</v-btn>
                        <v-btn color="info">Import</v-btn>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
        <v-layout align-space-between justify-space-around row wrap fill-height>
            <v-flex xs10>
                <v-textarea
                        name=""
                        box
                        label="json"
                        auto-grow
                        value=""
                ></v-textarea>
            </v-flex>
        </v-layout>
    </div>
    <script src="script.js"></script>
</body>
</html>